/* variables */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
  --almostWhite: rgba(255, 255, 255, 0.8);
  --semiWhite: rgba(255, 255, 255, 0.5);
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
body {
  background-color: var(--secondary);
  overflow-x: hidden;
  font-family: "Rubik Regular";
  color: white;
}

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 1rem;
}
.button:hover {
  background: var(--primary);
  color: var(--secondary);
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 0.625rem 1rem;
  border-radius: 20px;
  border: 2px solid var(--almostWhite);
  font-size: 0.85rem;
  color: var(--almostWhite);
}
/* fonts */
@font-face {
  font-family: "Rubik Regular";
  src: url(assets/fonts/Rubik-Regular.ttf);
}
h1,
h2,
h3,
h4 {
  color: var(--almostWhite);
  font-weight: normal;
}
p,
li,
a {
  color: var(--semiWhite);
}
h1,
h3 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.1rem;
}
.leading {
  font-size: 1.1rem;
}

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  :root {
    font-size: 1.125rem;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  :root {
    font-size: 1.25rem;
  }
}
